.section-news {
    @apply relative px-2 pb-24 lg:px-0;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);

    .item {
        @apply bg-cover overflow-hidden mb-4 lg:overflow-visible lg:mb-8 xl:mx-16;
        border-radius: 10px;

        &:last-child { @apply flex justify-center items-center; }

        .summary {
            @apply flex flex-col justify-end text-white px-4 pt-20 pb-8 lg:p-8 lg:mb-4;

            > * { @apply relative; }

            @include mask-fullsize {
                @apply bg-black bg-opacity-50;
            }
        }

        .title {
            max-width: 556px;
            width: 100%;
            margin-bottom: .5rem;
            font: {
                size: 1.5rem;
                weight: 500;
            }
            line-height: 1.25;
        }

        .date { 
            @apply absolute bottom-0 left-0 text-lg font-light uppercase; 
            letter-spacing: 0.88em;
            color: #9F9F9F;
            transform-origin: left bottom;
            transform: rotate(-90deg);
        }

        p { 
            font: {
                size: 1.125rem;
                weight: 300;
            }
            line-height: 1.75;
        }

        @media screen and (min-width: $vp-large) {
            width: 41vw;
            height: 77vh;
            border-radius: 0;

            .summary {
                @apply w-full h-full bg-cover;
            }
            
            .title {
                font-size: 2.3125rem;
            }
        }

        @media screen and (min-width: $vp-max) {
            &:nth-child(3n+2) {
                @apply mt-40 mb-0;

                .date {
                    right: -28px;
                    left: auto;
                }
            }
        }
    }

    .action-news {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 3rem;
        font-size: 1.8125rem;
        border-radius: 30px;
        background-color: #F0F0F0;

        svg { margin-left: .5rem; }
    }
}