.products-list {
    overflow: hidden;
    padding: 0 .625rem 2.5rem;

    .container { padding: 0; }

    &:not(.products-list-carousel) {
        .products-list__items {
            display: grid;
            gap: 1rem 2rem;
            grid-auto-rows: 41.75rem;
            grid-template-columns: repeat(auto-fill, minmax(22.1875rem, 1fr));
        }
    }

    @media screen and (min-width: $vp-large) {
        padding: 0 0 4rem;
    }

    .product-item {
        display: grid;
        margin: 1rem 0;
        border-radius: 1.875rem;
        background-color: white;
        box-shadow: var(--base-shadow);

        @media screen and (min-width: $vp-large) {
            margin: 1rem;

            .action-links {
                text-align: right;
            }
        }
    }

    .product-item__summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        width: 100%;
        min-height: 170px;
        padding: 1rem .5rem;

        @media screen and (min-width: $vp-large) {
            padding: 2rem;
        }

        @media screen and (min-width: $vp-max) {
            min-height: 240px;
        }
    }

    .product-item__summary-inner {
        height: 100%;
        line-height: 1;
    }

    .product-item__image {
        display: block;
        width: 100%;
        height: 26vh; //420px;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-radius: 10px 10px 0 0;

        @media screen and (min-width: $vp-max) {
            border-radius: 30px 30px 0 0;
            // height: 44vh; //420px;
        }
    }

    .product-item__image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .product-price {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: var(--secondary-color);
    }

    .product-name {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.4;
        color: var(--secondary-color);

        a { 
            text-decoration: none;
            color: inherit; 
        }

        @media screen and (min-width: $vp-large) {
            font-size: 1.375rem;
            line-height: 2rem;
        }
    }

    .product-link {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.125rem .5rem 0.125rem 1rem;
        font-size: 0.75rem;
        text-decoration: none;
        line-height: 1rem;
        border-radius: 9999px;
        color: black;
        background-color: var(--primary-color);

        svg {
            margin-left: .5rem;
        }

        @media screen and (min-width: $vp-large) {
            padding-left: 1.5rem;
            padding-right: 1.125rem;
        }
    }
}

.products-list-v1 {
    padding: 0 .625rem;

    .slide-inner {
        max-width: 500px;
        margin: 0 auto;
    }

    .slide-inner {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        // gap: 0px 10px;
        // grid-template-areas:
        //     "main-product main-product"
        //     "first-product second-product";
            display: grid;
            gap: .5rem 1rem;
            // grid-auto-rows: 41.75rem;
            grid-auto-flow: dense;
            grid-template-columns: repeat(auto-fill, minmax(min(100%, 130px), 1fr));

            .product-item {
                &:first-child {
                    grid-column: span 2;
                }
            }

        // .product-item {
        //     &:nth-child(1) {
        //         grid-area: main-product;
        //     }
        //     &:nth-child(2) {
        //         grid-area: first-product;
        //     }
        //     &:nth-child(3) {
        //         grid-area: second-product;
        //     }
        // }
    }

    @media screen and (min-width: $vp-max) {
        .slide-inner {
            grid-template-columns: 1fr 650px;
            grid-template-rows: 1fr auto;
            gap: 40px 40px;
            grid-template-areas:
                "main-product first-product first-product"
                "main-product second-product second-product";
            max-width: 100%;
        }

        .product-item {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            .action-links {
                text-align: left;
            }

            &:nth-child(1) {
                flex-direction: column;
                align-items: flex-start;

                .product-item__summary {
                    flex-direction: row;
                }

                .product-item__summary-inner {
                    flex: 1;
                }

                .product-item__image {
                    height: 400px;
                }

                .action-links {
                    place-self: end;
                }
            }

            &:nth-child(2),
            &:nth-child(3) {
                height: 290px;

                .product-item__image {
                    width: 360px;
                    height: 100%;
                    border-radius: 0 10px 10px 0;

                    @media screen and (min-width: $vp-max) {
                        border-radius: 0 30px 30px 0;
                    }
                }
            }
        }
    }
}

.products-list-carousel {
    .swiper-container {
        padding: 1.75rem 0;

        &.swiper-container {
            @media screen and (min-width: $vp-large) {
                overflow: visible;
            }
        }

        .swiper-slide {
            opacity: 0;

            &.swiper-slide-visible {
                opacity: 1;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 24px;
        left: 0;
        right: auto;
        width: 40px;
        height: 40px;
        transition: opacity 0.5s;

        &:before,
        &:after {
            content: none;
        }

        @include hover {
            opacity: 0.5;
        }

        @media screen and (min-width: $vp-large) {            
            top: auto;
            bottom: calc(100% - 10px);
        }
    }

    .swiper-button-prev {
        background-image: url(../images/arrow-prev.png);
    }

    .swiper-button-next {
        left: 50px;
        background-image: url(../images/arrow-next.png);
    }
}

.products-list__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.products-list__actions-group {
    display: flex;
}

.products-list__actions-count,
.products-list__actions-ordering {
    display: flex;
    align-items: center;
    margin: 0 4rem 0 0;
    padding-right: 2rem;
    height: 60px;
    font-size: 1rem;
    border-radius: 30px;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-right: 1rem;
        border-radius: 50%;
        background-color: var(--primary-color);

        svg { flex: none; }
    }

    select {
        height: 100%;
        font-size: 1rem;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
}

.product-list__actions-count {
    background-color: white;
}
