.section-spotlight {
    background: {
        image: url(../images/spotlight/bg-spotlight.jpg);
        repeat: no-repeat;
        position: left bottom;
        size: 100% auto;
    }

    .action-links {
        max-width: 240px;
    }
}

.spotlight-title {
    max-width: 576px;
}

.spotlight-text {
    position: relative;
    max-width: 930px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    p { 
        margin: 0 0 2rem;
        
        &:last-of-type { margin-bottom: 0; }
    }
}