* {
    box-sizing: border-box;
}

html {
    font-size: var(--base-font-size);
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 .625rem;

    @media screen and (min-width: $site-width) {
        max-width: $site-width;
    }
}

.sr-only {
    @include hidden;
}

a { 
    color: inherit; 
    transition: all .5s;
}