$vp-small				            : 320px;
$vp-mid				                : 768px;
$vp-large				            : 1024px;
$vp-max				                : 1350px;
$site-width                         : 1524px;

:root {
    --vp-small				        : $vp-large;
    --vp-mid				        : $vp-mid;
    --vp-large				        : $vp-large;
    --vp-max				        : $vp-max
    --site-width                    : $site-width;

    --width-wrapper-logo            : 477px;
    --width-wrapper-logo-mobile     : 126px;
    --width-wrapper-logo-tablet     : 300px;
    --width-header-actions          : 316px;
    --height-header                 : 100px;

    --base-font-size		        : 16px;
    --primary-font                  : 'Roboto', sans-serif;
    --secondary-font                : 'Comfortaa', cursive;
    
    --primary-color                 : rgb(255, 235, 13);
    --secondary-color               : rgb(130, 128, 127);
    --tertiary-color                : rgb(58, 59, 60);
    --grey                          : rgb(158, 158, 158);
}
