body.contact {
    .page-header {
        &:before { content: none; }

        .page-header__inner {
            max-width: 100%;
            height: 100%;
            padding: 0;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .a01-block--margin { 
        height: 13.75rem;

        h2 { margin-bottom: 0; }
        p { margin: 0; }
    }

    .content-blocks {
        @media screen and (min-width: $vp-large) {
            display: flex;
        }
    }

    .contact-address-wrapper {
        width: 17.8125rem;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 190.9%;

        p { margin: 0; }

        @media screen and (min-width: $vp-large) {
            margin-left: 6rem;
        }
    }

    .contact-form-wrapper {
        flex: 1;

        img {
            display: block;
            width: 100%;
            max-width: 30%;
        }

        @media screen and (min-width: $vp-large) {
            display: flex;
            position: relative;
            top: -5rem;

            img {
                border-radius: 0 20px 20px 0;
            }
        }
    }

    .contact-form {
        flex: 1;

        .form-group {
            margin-bottom: 2rem;

            span { 
                display: block;
                margin-bottom: .5rem;
                color: var(--secondary-color); 
            }
        }

        input, 
        select, 
        textarea {
            width: calc(100% - 2rem);
            padding: 1rem;
            font-size: 1rem;
            font-family: var(--primary-font);
            border-radius: 5px;
            border: 0;
            background-color: var(--grey-xlight);
        }

        input[type="submit"] {
            display: inline-block;
            width: auto;
            padding: 1rem 4rem;
            border-radius: 30px;
            background-color: var(--primary-color);
            cursor: pointer;
        }
    }

    .contact-social {
        display: flex;
        justify-content: space-between;
    }
}