.footer-menu {
    @apply pt-10 pb-2;

    .menu { @apply flex flex-wrap lg:flex-nowrap; }

    .footer-menu__block {
        @apply flex-auto my-8;

        &:nth-child(1) .footer-menu__title:before { content: url(../images/icons/footer-customer-service.svg); }
        &:nth-child(2) .footer-menu__title:before { content: url(../images/icons/footer-information.svg); }
        &:nth-child(3) .footer-menu__title:before { content: url(../images/icons/footer-shop.svg); }

        .footer-menu__title { 
            @apply flex items-center text-xl font-medium text-tertiary; 

            &:before { @apply mr-2; }
        }

        .items-list {
            @apply font-light leading-10 mt-2;

            li a { @apply text-tertiary; }
        }

        @media screen and (min-width: 1024px) {
            &:last-child .items-list {
                column-count: 2;
            }
        }
    }
}

.footer-social {
    @apply flex;

    a { @apply mr-4; }
}