.site-header {  
    @apply relative;
        
    &:before {
        @apply absolute top-0 left-0 h-full bg-white;
        content: "";
        width: calc((100% - #{var(--site-width)}) / 2);
    }  
}

.header-action-user {
    width: 82px;
}