.site-header {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 9;
    background-color: var(--primary-color);

    @include mask {
        top: 0;
        left: 0;
        width: calc((100% - #{$site-width}) / 2);
        height: 100%;
        background-color: white;
    }

    @media screen and (min-width: $vp-large) {
        flex-direction: row;
        align-items: center;
    }
}

.site-header__inner { 
    flex: 1;
    max-width: var(--site-width);
    width: 100%;
    margin: 0 auto;
    border-right: .625rem solid var(--primary-color);
    background-color: white;

    @media screen and (min-width: $vp-large) {
        border-right: 0;
        background-color: transparent;
    }
}

.site-branding {
    display: flex;
    max-width: var(--width-wrapper-logo);
    width: 100%;
    margin: 0 auto;
    background-color: white;

    @media screen and (min-width: $vp-large) {
        margin: 0;
        border-right: 0;
    }
}

.site-logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: white;

    a,
    img,
    svg {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    @media screen and (min-width: $vp-large) {
        margin: 0;
    }
}

.header-actions-wrapper {
    flex: 1;
    height: 2.375rem;
    margin: 0;
    border-left: .625rem solid white;
    background-color: var(--primary-color);

    ul {
        max-width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @media screen and (min-width: $vp-large) {
        // flex: none;
        // width: var(--width-header-actions-tablet);
        // width: var(--width-header-actions);
        font-size: 1rem;
        line-height: 1rem;
        border-left: 0;
    }

    @media screen and (min-width: $vp-max) {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: var(--width-header-actions);
        height: var(--height-menu);
        margin: auto 0;
    }
}

.header-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(100% - (.625rem * 2 + 2.5rem));
    height: 2.5rem;
    margin: .625rem;
    background-color: white;

    @media screen and (min-width: $vp-large) {
        margin: 0;
    }

    @media screen and (min-width: $vp-max) {
        width: 100%;
        height: 100%;
    }
}

.header-actions__list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        font-size: .75rem;

        &.header-action-user { flex: none; }

        span { 
            display: flex; 
            align-items: center;
        }

        strong { margin: 0 .25rem; }

        @media screen and (min-width: $vp-xlarge) {
            flex: none;
            flex-wrap: nowrap;
            font-size: 1rem; 
            
            &:nth-child(1) {
                flex: 2;
            }
            &:nth-child(2) {
                flex: 1;
            }
        }
    }
}

.header-action-user {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);

    .icon-star svg {
        width: 18px;
        height: 18px;
        fill: var(--tertiary-color);
    }

    @media screen and (min-width: $vp-max) {
        width: 82px;
        height: 100%;
    }
}
