.site-header {  
    position: relative;
        
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc((100% - #{var(--site-width)}) / 2);
        height: 100%;
        background-color: white;
    }  
}

.header-action-user {
    width: 82px;
}